{%- if license == "MIT" -%}
{%- include 'licenses/MIT' %}
{%- elif license == "BSD-3-Clause" -%}
{%- include 'licenses/BSD-3-Clause' %}
{%- elif license == "Apache-2.0" -%}
{%- include 'licenses/Apache-2.0' %}
{%- elif license == "MPL-2.0" -%}
{%- include 'licenses/MPL-2.0' %}
{%- elif license == "LGPL-3.0-only" -%}
{%- include 'licenses/LGPL-3.0-only' %}
{%- elif license == "GPL-3.0-only" -%}
{%- include 'licenses/GPL-3.0-only' %}
{%- endif -%}
